@font-face {
  font-family: "Montserrat"; /* only font name */
  src: local("Montserrat"), url("./Montserrat-Bold.woff2") format("woff2"); /* Path to file with font */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat"; /* only font name */
  src: local("Montserrat"), url("./Montserrat-Regular.woff2") format("woff2"); /* Path to file with font */
  font-weight: 400;
  font-style: normal;
}
