@font-face {
  font-family: "Inter"; /* only font name */
  src: local("Inter"), url("./Inter-Regular.woff2") format("woff2"); /* Path to file with font */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "StyleScript"; /* only font name */
  src: local("StyleScript"), url("./StyleScript-Regular.woff2") format("woff2"); /* Path to file with font */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "STSong"; /* only font name */
  src: local("STSong"), url("./STSong.woff2") format("woff2"); /* Path to file with font */
  font-weight: 300;
  font-style: normal;
}
